@font-face {
    font-family: 'F1';
    src: url('F1.otf') format('opentype');
}
@font-face {
    font-family: 'F2';
    src: url('F2.ttf') format('truetype');
}
@font-face {
    font-family: 'F3';
    src: url('F3.otf') format('opentype');
}

/* Define @font-face for other fonts */

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.font-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.font-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.color-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.color-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.preview {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #FF0000; /* Default neon color */
    text-shadow: 0 0 10px #FF0000; /* Neon glow effect */
}

@media screen and (max-width: 768px) {
    .controls {
        align-items: center;
    }
    
    .font-buttons,
    .color-buttons {
        justify-content: center;
    }
}
